<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <%= link_to t('global.edit'), edit_book_path(@book) %> |
  <%= link_to t('global.back'), books_path %>

  <%= button_to t('global.delete'), @book, method: :delete %>
</div>
